.section {
  .layout--desktop &--fairy-tale {
    background: url('../img/fairy-tale-bg.jpg') top center no-repeat;
    z-index: 1;
  }
  .layout--desktop &--fairy-tale &__text {
    margin: 0 -1rem -0.25rem;
  }
  .layout--desktop &--fairy-tale &__heading {
    display: flex;
  }
  .layout--mobile &--fairy-tale &__heading {
    @include absolute(top 0 left 1.5rem);
  }
  &--fairy-tale &__slider {
    
    .owl-carousel {
      z-index: 3;
    }
    
    .layout--desktop & .owl-nav {
      width: 390px;
    }
    .layout--mobile & .owl-nav {
      background: transparent;
    }
  }
  
  .layout--desktop &--fairy-tale &__mark {
    background: $color--secondary;
    margin-left: -1rem;
    .mark__line {
      height: 340px;
      top: -340px;
      left: 173px;
    }
  }
  .layout--mobile &--fairy-tale &__mark {
    z-index: 4;
    .mark__line {
      height: 230px;
      top: -250px;
      left: 90px;
    }
  }
}