.section {
  .layout--desktop &--non-stop {
    background: url('../img/non-stop-bg.jpg') bottom center no-repeat;
    z-index: 0;
    margin-top: -594px;
    padding-top: 586px;
  }
  .layout--mobile &--non-stop {
    background: url('../img/non-stop-bg-m.jpg') center no-repeat;
    background-size: cover;
  }
  &--non-stop &__heading {
    .tp-heading--large {
      margin-top: 0.8rem;
    }
  }
  .layout--desktop &--non-stop &__slider {
    width: 860px;
    
    .owl-nav {
      padding-bottom: 0.5rem;
      background: $color--base;
      margin-right: 210px;
      width: 260px;
    }
  }
  .layout--mobile &--non-stop &__slider {
    .owl-nav {
      padding: 1rem 0;
      background: $color--base;
      width: 148px;
    }
  }
  .layout--desktop &--non-stop &__text {
    margin: -4rem 0.5rem 0 -1rem;
  }
  .layout--mobile &--non-stop &__text {
    background: $color--secondary;
  }
  .layout--desktop &--non-stop &__mark {
    margin-top: 122px;
    &-wrapper {
      clear: both;
    }
    .mark__line {
      height: 275px;
      top: -300px;
      left: 257px;
      z-index: 2;
    }
  }
  .layout--mobile &--non-stop &__mark {
    .mark__line {
      height: 300px;
      top: -325px;
      left: 50px;
      z-index: 2;
    }
  }
}