.section {
  .layout--desktop &--spa {
    background: url('../img/spa-bg.jpg') top center no-repeat;
  }
  .layout--mobile &--spa {
    background: url('../img/spa-bg-m.jpg') top center no-repeat;
  }
  .layout--desktop &--spa &__heading {
    margin-left: -1rem;
  }
  &--spa &__slider {
    padding-right: 90px;
    
    &::before {
      content: '';
      display: block;
      @include size(auto);
      @include absolute(bottom 0 right 0 left 122px top 140px);
      background: $color--secondary;
    }
    
    .layout--desktop & .owl-nav {
      padding-bottom: 0.5rem;
      margin-left: 122px;
      width: 210px;
    }
    .layout--mobile & .owl-nav {
      padding: 1rem 0;
      margin-left: 150px;
      width: 200px;
    }
  }
  .layout--mobile &__mark {
    &-wrapper {
      margin-top: -60px;
      z-index: 2;
    }
    .mark__line {
      height: 280px;
      top: -300px;
      left: 60px;
    }
  }
}