.section {
  &--start {
    z-index: 2;
  }
  &--start &__top {
    background: url('../img/start-bg.jpg') top center no-repeat;
    
    @media #{$sm} {
      background: url('../img/start-bg-m.jpg') top center no-repeat;
      background-size: cover;
    }
  }
  .layout--desktop &--start &__bottom {
    margin-bottom: -95px;
  }
  &--start &__img-wrapper {
    z-index: 3;
    margin-top: -0.5rem;
    margin-bottom: -302px;
    &::before {
      content: '';
      display: block;
      @include absolute(bottom 0 right -1rem);
      @include size(855px, 300px);
      background: $color--secondary;
      z-index: 1;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    
    @media #{$sm} {
      margin: 0;
      &::before,
      &::after {
        display: none;
      }
    }
  }
  &--start &__img {
    z-index: 2;
    margin-top: -13px;
  }
  &--start &__heading {
    margin-left: -6px;
    .tp-heading--huge {
      margin-left: -10px;
      @media #{$sm} {
        font-size: 257px;
      }
    }
    .tp-heading--large {
      line-height: 1;
      @media #{$sm} {
        font-size: 60px;
      }
    }
  }
  &--start &__text {
    z-index: 2;
  }
  &--start &__arrow {
    @include size(4rem);
    @media #{$min-animation} {
      animation: shake 0.5s infinite alternate;
    }
    .icon {
      @include size(4rem);
      margin: {
        top: 10px;
        left: -20px;
      }
      @media #{$sm} {
        margin: 0;
      }
    }
  }
  &--start &__top &__line {
    @include absolute(top 0 left 2rem);
    @include size(3px, 500px);
    background: $color--primary;
    z-index: 4;
    @media #{$sm} {
      position: relative;
      @include size(386px, 76px);
      left: 0;
      
      &::before {
        content: '';
        display: block;
        @include size(3px, 286px);
        @include absolute(top 0 left 50%);
        background: $color--primary;
        margin-left: -1.5px;
      }
    }
  }
  .layout--desktop &--start &__bottom &__line {
    @include absolute(top 0 left 51%);
    @include size(3px, 500px);
    background: $color--primary;
  }
  .layout--mobile &--start &__bottom &__line {
    @include relative(top 0 left 0);
    height: 215px;
  }
  .layout--mobile &--start &__rect {
    @include size(387px, 75px);
    background: $body-bg;
    margin-bottom: -2px;
  }
}

@keyframes shake {
  from {
    transform: translateY(-10%);
  },
  to {
    transform: translateY(10%);
  }
}